body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: JMH;
    src: url(images/JMH\ Typewriter.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(images/Poppins-Regular.ttf);
}

#slideshows {
    /* background-image: url(images/download.jpeg); */
    position: relative;
    width: 100vw;
    height: 100vh;
    /* animation: slideshow 20s normal infinite; */


}

#slide-image {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: background-image 1s ease-in-out;
    z-index: 1;
}

#text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 900%;
    color: gray;
    z-index: 2;
    font-family: JMH;

}

.slide.show {
    opacity: 1;
}

.ankole-logo {
    position: fixed;
    top: 5%;
    left: 44%;
    z-index: 1;


}
.ankole-small-logo img{
    width: 12vw;
    margin: 7% 0 15%;
}
.ankole-logo img {
    width: 12vw;

}

.socials {
    display: flex;
    position: fixed;
    top: 5%;
    gap: 20px;
    right: 5%;
    z-index: 200;
    cursor: pointer;

}

.socials i {
    border-radius: 50%;
    border: solid 1px dimgray;
    padding: 40%;
    color: dimgray;


}
.socials i:hover{
    border: solid 1px white;
    color:white;
}

#whats-app{
    position: fixed;
    bottom: 10%;
    right: 2%;
    z-index: 200;
    color: white;
    font-size: 250%;
    padding:1%;
    border-radius: 50%;
    border: solid gray 1px;
    background-color: black;
    cursor: pointer;

}
#whats-app:hover{
    background-color: dimgray;
}
nav {
    position: fixed;
    bottom: 5%;
    left: 30%;
    z-index: 80;
    padding: 1% ;
    background-color: black;
    width: 35%;
    border-radius: 100px;
    color: white;
    font-weight: bolder;
    font-family: Poppins;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}
nav a,
nav i {
    display:inline-block;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    vertical-align: middle;
}
nav i{
    color:gray;
}
nav a:hover {
    color: gray;
}

nav i:hover {
    background-color: white;
   border-radius: 50%;
   padding:50%;

}
.flip-hover{
    padding:1%;
    width:20%;
    background-color: darkgray;
    border-radius: 50px;
    text-align: center;

}
.vertical-bar,
.opening-hours {
    position: relative;
}

.vertical-bar:hover .categories {
    display: block;
}
.categories {
    display: none;
    position: absolute;
    background-color: black;
    width: 220px;
    bottom: 100%;
    left: -80px;
    border-radius: 10px;
    z-index: 1000;
}
.categories a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-bottom: solid gray 1px;
}
.categories a:last-child {
    border-bottom: none;
}
.opening-hours:hover .opening-details {
    display: block;
}
.opening-details p:nth-child(2),
.opening-details p:nth-child(5) {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 3%;
}
.opening-details {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    width: 250px;
    line-height: 10px;
    bottom: 100%;
    left: -80px;
    border-radius: 30px;
    padding: 15px;
    z-index: 1000;
padding:20px;
}
.opening-details p {
    font-size: 18px;
    font-weight: lighter;
    color:black;
    text-decoration: none;
    display:block;
    padding: 4px 0;
    padding-left:10%;

}

/* menu file */
.kitisuru-branch {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/download.jpeg);
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;


}

.kilimani-branch {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/65e5a29a2a2b1c4a493fff75_ankolegrill_Kilimani-Nights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    position: relative;


}

.kilimani-details {
    color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    line-height: 40px;

    h2 {
        color:  #D35400;
        font-size: 300%;
        text-align: center;

    }

    h1 {
        font-size: 400%;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: white;

    }
}

.kitisuru-details {
    color: white;

    position: absolute;
    top: 40%;
    left: 20%;
    line-height: 40px;

    h2 {
        color:  #D35400;
        font-size: 300%;
        text-align: center;

    }

    h1 {
        font-size: 400%;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: white;

    }


}

.menu-page {
    display: flex;
}

/* kitisuru menu */
.menus {
    display: flex;

}

.menu-layout {
    background: url(images/65c4760165c03d467b650bcb_1.jpg);
    width: 50vw;
    height: 100vh;
    filter: brightness(0.4);



}

.menus-filter {
    background-color: black;
    /* width:50vw;
    height:100vh; */
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 4%;

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;

    }
}

#breakfast {
    color: black;

}

.breakfast-menu h1 {
    color: black;
}

.layout-details {
    position: absolute;
    top: 50%;
    left: 30%;

    .logo {
        position: fixed;
        top: 5%;
        left: 25%;
        z-index: 2;
    }

    img {
        margin-bottom: 5%;
    }

    h2 {
        color: white;
        text-align: center;
        font-size: 200%;

    }

    h1 {
        color:  #D35400;
        font-size: 450%;
    }
}

.hor-navbar {
    bottom: 5%;
    left: 3%;
    background-color: black;
    border-radius: 100px;
    color: white;

}

.top-nav {
    height: 100vh;
    width: 50vw;

}

/* Reviews page */
.review-body {
    background-color: black;
    overflow: hidden;
}

.reviews {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: flex;


}

.testimony.active {
    display: block;

}

.testimonials-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    overflow: hidden;


}

.testimonials-slider i {
    cursor: pointer;
    font-size: 200%;
    color: dimgray;
    transition: color .2s;


}

.testimonials-slider p {
    color: white;
}

.testimonials-slider i:hover {
    color: gray;
}

.testimony {
    flex: 0 0 60%;
    display: none;
    text-align: center;
    font-size: 120%;
}

#left-qoute {
    position: absolute;
    left: 15%;
    top: 1%;
    font-size: 350%;
  

}

#right-qoute {
    position: absolute;
    right: 15%;
    bottom: 1%;
    font-size: 350%;
  

}

#review-logo {
    color: gray;

}

#review {
    position: fixed;
    top: 35%;
    left: 46%;
    z-index: 100;
    font-size: 300%;
    color: white;
}

.testimony i {
    color: red;
}

/* kilimani-menu */
.menu-options {
    display: flex;
    width: 100vw;
    height: 100vh;

}

.branch-menu {
    width: 50vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/65c4760165c03d467b650bcb_1.jpg);
    text-align: center;
    line-height: 30px;
    position: static;
    overflow-y: auto;

}

.navigation-menu {
    display: flex;
    position: sticky;
    padding: 4%;
    background-color: black;
    justify-content: space-evenly;
    z-index: 1000;
    top: 0;

    a {
        text-decoration: none;
        color: white;
        font-size: 150%;
    }

    a:hover {
        color:orange;

    }
}

#branch-name {
    color:  #D35400;
    font-size: 450%;
}

#title-menu {
    color: white;
    text-align: center;
    font-size: 200%;
}

.menu-list {
    background-color: black;
    width: 50vw;
    color: white;
    padding: 0 2%;
    overflow-y: scroll;
}

.specials {
    color:  #D35400;
    display: flex;
    gap: 10px;
    font-size: 150%;

}

#breakfast {
    color: white;
}

.menu-line {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;

}

.foodPrice {
    display: flex;
    padding: 3% 0;
    justify-content: space-between;
}

.foodPrice img {
    width: 40%;


}

.foods {
    margin: 10% 0;

}

.soup {
    display: flex;
    justify-content: space-between;
}

.salad {
    display: flex;
    justify-content: space-between;
    padding: 2% 0;

}

.logo-img img {
    width: 10vw;
    height: 15vh;
}

.drink-item p {

    display: flex;
    justify-content: space-between;

}

/* events-page */
.events-body {
    overflow: hidden;
box-sizing: border-box;
}

.events-venue {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    overflow-x: scroll;

}

.venue p:first-child {
    color: dimgray;
}

.venue {
    color: white;
    text-align: center;
    font-weight: bold;

}

.venue h1 {
    font-size: 300%;

}

.venue img {
    width: 33vw;
    height: 100vh;
   filter: brightness(0.5);
}

.services {
    color: rgb(231, 190, 115);
}

#accra-venue {
    position: relative;
}

.accra-details {
    position: absolute;
    top: 30%;
    left: 25%;
}

#nairobi-venue {
    position: relative;
}

.nairobi-details {
    position: absolute;
    top: 30%;
    left: 25%;
}

#addis-venue {
    position: relative;
}

.addis-details {
    position: absolute;
    top: 30%;
    left: 25%;
}

#zanzibar-venue {
    position: relative;
}

.zanzibar-details {
    position: absolute;
    top: 30%;
    left: 25%;
}

/* Contacts page */
.branch-contacts {
    display: flex;
    color: white;
    gap: 30px;
    font-size: 150%;
    line-height: 5px;
    margin: 20% 25% ;
    width:50vw;



}

.contacts-content {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

.kitisuru-contact {
    border: solid white 2px;
    padding: 2%;
    width: 40vw;
    height: 30vh;

    a {
        text-decoration: none;
        color: white;
    }
}

.kilimani-contact {
    border: solid white 2px;
    padding: 2%;
    width: 40vw;
    height: 35vh;

    a {
        text-decoration: none;
        color: white;
    }

}

/* Reservation-page */
.reservations-page {
    overflow-y: hidden;
    width: 100%;
}

.reservation-page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

input:focus {
    outline: none;
    border: 2px solid green;

    box-shadow: 0 0 5px rgba(230, 126, 34, 0.5);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
    outline: none;
    border: 2px solid rgb(23, 176, 236);

    box-shadow: 0 0 5px rgba(230, 126, 34, 0.5);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

#logo-ankole img {
    margin-bottom:10%;
    width: 12vw;
    color: dimgrey;

}

.karibu-reservation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/flower.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    width: 50vw;
    text-align: center;
    color: white;

}

#page-title {
    color:  #D35400;
    font-size: 400%;
}

.reservation-form {
    background-color: black;
    color: white;
    width: 50vw;

    padding: 2%;
    /* box-shadow:1px 2px 1px gray; */

}

input,
select {
    background: none;
    color:white;
    padding: 2%;
    width: 90%;
    margin: 1% 0;
    border: solid #f8f8f861 1px;
    color-scheme: dark;
}

select {
    width: 94%;
    color:dimgray;

}

button {
    margin-top: 2%;
    width: 95%;
    padding: 3%;
    border-radius: 20px;
    font-size: 100%;
    background-color: #F4CD9C;
}

/* live-page */
.events-list {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/kerbero.avif);
    background-repeat: repeat-y;
    background-size: 100%;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;


}

#live-title {
    color:  #D35400;
    text-align: center;
    font-size: 400%;
}

.tukatike-live {
    position: fixed;
    top:5%;
    width: 50%;
    text-align: center;
    color: white;
    line-height: 0.5;
  

}

.live-events {
    display: flex;
}

.live-concerts-detail {

    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5%;

}

.live-concerts {
    display: flex;

}

.events-announcement,
.live-concerts-detail {
    position: relative;
    width: 50vw;
}

.live-detail {
    padding: 2%;
    margin-top: 10%;

}

.live-concerts img {
    width: 20vw;
    height: 40vh;
}

.live-concerts img:hover {
    transform: scale(1.1);
}

.event-day {
    color:  #D35400;
    font-size: 120%;
}

.artist {
    font-size: 170%;
    color: white;
}
@media screen and (max-width:500px) {
    .slideshows {
       
        position: relative;
        width: 100vw;
        height: 100vh;
    
    
    }
    
    #slide-image {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        transition: background-image 1s ease-in-out;
        z-index: 1;
    }
    
    #text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 370%;
        color: gray;
        z-index: 2;
        font-family: JMH;
    
    }
    
    .slide.show {
        opacity: 1;
    }
    
    .ankole-logo {
        position: fixed;
        top: 10%;
        left: 22%;
        z-index: 1;
    
    
    }
    .ankole-small-logo img{
        width: 12vw;
        margin: 7% 0 15%;
    }
    .ankole-logo img {
        width: 55vw;
    
    }
    
    .socials {
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 5%;
        gap: 2px;
        right: 5%;
        z-index: 200;
        cursor: pointer;
    
    }
    
    .socials i {
        border-radius: 50%;
        border: solid 1px dimgray;
        padding: 40%;
        color: dimgray;
    
    
    }

    .socials i:hover{
        border: solid 1px white;
        color:white;
    }
    
    #whats-app {
        position: fixed;
        bottom: 10%;
        right: 2%;
        z-index: 200;
        color: white;
        font-size: 250%;
        padding: 2%;
        border-radius: 50%;
        border: solid gray 1px;
        background-color: black;
        cursor: pointer;
    
    }
    #whats-app:hover{
        background-color: dimgray;
    }
    nav {
        position: fixed;
        bottom: 5%;
        left: 18%;
        z-index: 80;
        padding: 3% 1%;
        background-color: black;
        width: 60vw;
        border-radius: 100px;
        color: white;
        font-weight: bolder;
        font-family: Poppins;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 12px;
    }
    nav a,
    nav i{
        display:inline-block;
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
        vertical-align: middle;
    }
    nav i{
        color:gray;
        font-size: 150%;
    }
    nav a:hover {
        color: gray;
    }
    
    nav i:hover {
        background-color: white;
       border-radius: 50%;
       padding:50%;
    
    }
    .hidden-nav{
        display:none;
    }
    .flip-hover{
        background-color: darkgray;
        border-radius: 50px;
        padding:1%;
        width:100px;
        text-align: center;
    
    }
    .flip-hover p{
        font-size: small;
    }
    .vertical-bar,
    .opening-hours {
        position: relative;
    }
    
    .vertical-bar:hover .categories {
        display: block;
    }
    .categories {
        display: none;
        position: absolute;
        background-color: black;
        width: 220px;
        bottom: 100%;
        left: -80px;
        border-radius: 10px;
        z-index: 1000;
    }
    .categories a {
        font-size: small;
        color: white;
        padding: 10px 20px;
    
        display: block;
        text-decoration: none;
        border-bottom: solid gray 1px;
    }
    .categories a:last-child {
        border-bottom: none;
    }
    .opening-hours:hover .opening-details {
        display: block;
    }
    .opening-details p:nth-child(2),
    .opening-details p:nth-child(5) {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 3%;
    }
    .opening-details {
        display: none;
        position: absolute;
        background-color: black;
        color: gray;
        width: 150px;
        line-height: 10px;
        bottom: 100%;
        left: -80px;
        border-radius: 30px;
        padding: 15px;
        z-index: 1000;
    padding:20px;
    }
    .opening-details p {
        font-size: 15px;
        font-weight: lighter;
        text-decoration: none;
        display:block;
        padding: 4px 0;
        padding-left:10%;
    
    }
    .opening-details p:not(:first-child){
        color:gray;
    }
    .opening-details p:first-child{
        color:white;
        font-size: large;
    }
    /* menu-page */
 .kitisuru-branch {
        background:url(images/download.jpeg);
        background-repeat: no-repeat;
        width: 100vw;
        height:65vh;
  
    
    
    }
    
    .kilimani-branch {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(images/65e5a29a2a2b1c4a493fff75_ankolegrill_Kilimani-Nights.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 80vh;
 
 
    
    }
    
    .kilimani-details {
        color: white;
        line-height: 20px;
    

    
        h2 {
            color:  #D35400;
            font-size: 150%;

    
        }
    
        h1 {
            font-size: 250%;
        }
    
        a {
          
            text-decoration: none;
            color: white;
    
        }
    }
    
    .kitisuru-details {
        color: white;
        line-height: 20px;
      margin-left:12%;
    
        h2 {
            color:  #D35400;
            font-size: 150%;
      
    
        }
    
        h1 {
            font-size: 250%;
        }
    
        a {
            text-decoration: none;
            color: white;
    
        }
    
    
    }
    
    .menu-page {
        display: flex;
        flex-direction:column;
    }
    .review-body {
        background-color: black;
        overflow: hidden;
    }
    
    .reviews {
        position: fixed;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        justify-content: center;
        align-items: center;
        z-index: 999;
        display: flex;
    
    
    }
    
    .testimony.active {
        display: block;
    
    }
    
    .testimonials-slider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        width: 100%;
        overflow: hidden;
    
    
    }
    
    .testimonials-slider i {
        cursor: pointer;
        font-size: 200%;
        color: dimgray;
        transition: color .2s;
    
    
    }
    
    .testimonials-slider p {
        color: white;
          }
    
    .testimonials-slider i:hover {
        color: gray;
    }
    
    .testimony {
        flex: 0 0 60%;
        display: none;
        text-align: center;
        font-size: 50%;
    }
    
    #left-qoute {
        position: absolute;
        left: 10%;
        top: 1%;
        font-size: 200%;
      
    
    }
    
    #right-qoute {
        position: absolute;
        right: 15%;
        bottom: 1%;
        font-size: 200%;
      
    
    }
    
    #review-logo {
        color: gray;
    
    }
    
    #review {
        position: fixed;
        top: 43%;
        left: 30%;
        z-index: 100;
        font-size: 250%;
        color: white;
    }
    
    .testimony i {
        color: red;

    }
    /* events-page */
    .events-body {
        overflow-y:scroll;
    box-sizing: border-box;
    }
    
    .events-venue {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0 auto;
        padding: 0;
    
    }
    
    .venue p:first-child {
        color: dimgray;
    }
    
    .venue {
        color: white;
        text-align: center;
        font-weight: bold;
    
    }
    
    .venue h1 {
        font-size: 200%;
    
    }
    
    .venue img {
        width: 100vw;
       filter: brightness(0.5);
    }
    
    .services {
        color: rgb(231, 190, 115);
    }
    
    #accra-venue {
        position: relative;
    }
    
    .accra-details {
        position: absolute;
        top: 40%;
        left: 3%;
    }
    
    #nairobi-venue {
        position: relative;
        margin-top:-2%;
    }
    
    .nairobi-details {
        position: absolute;
        top: 40%;
        left: 3%;
    }
    
    #addis-venue {
        position: relative;
        margin-top:-2%;
    }
    
    .addis-details {
        position: absolute;
        top: 40%;
        left: 6%;
    }
    
    #zanzibar-venue {
        position: relative;
        margin-top:-2%;
    }
    
    .zanzibar-details {
        position: absolute;
        top: 40%;
        left: 3%;
    }
    /* live-page */
    .events-list {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/kerbero.avif);
        background-repeat: repeat-y;
        background-size:cover;
        overflow-y: scroll;
    
    
    
    }
    
    #live-title {
        color:  #D35400;
        text-align: center;
        font-size: 300%;
        font-weight: lighter;
    }
    
    .tukatike-live {
        position: relative;
height:30vh;
        width: 100%;
        text-align: center;
        color: white;
        line-height: 0.5;
      
    
    }
    
    .live-events {
        display: flex;
        flex-direction:column;
    
    }
    
    .live-concerts-detail {
      
    margin-top:60%;
    }
    
    .live-concerts {
        display: flex;
        flex-direction: column;
        margin:3% 5%;
    
    }
    
    .events-announcement,
    .live-concerts-detail {

        width: 100vw;
    }
    
    .live-detail {
        padding: 2%;
        margin-top: 10%;
    
    }
    
    .live-concerts img {
        width: 90vw;
        height: 50vh;
    }
    
    .live-concerts img:hover {
        transform: scale(1.1);
    }
    
    .event-day {
        color:  #D35400;
        font-size: 150%;
    }
    
    .artist {
        font-size: 150%;
        color: white;
    }
    #logo-ankole img {
        margin-top:10%;
        width: 50vw;
        color: dimgrey;
    

    
    }
    /* contacts */
    .branch-contacts {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 30px;
        font-size: 100%;
        line-height: 1;
        margin: 80% 2% ;
        width:50vw;
    
    
    
    }
    
    .contacts-content {
        width: 100vw;
        height: 120vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/contact.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: scroll;
    
    }
    
    .kitisuru-contact {
        border: solid white 2px;
        padding: 2%;
        width: 90vw;
        height: 40vh;
    
        a {
            text-decoration: none;
            color: white;
        }
    }
    
    .kilimani-contact {
        border: solid white 2px;
        padding: 2%;
        width: 90vw;
        height: 55vh;
    
        a {
            text-decoration: none;
            color: white;
        }
    
    }
    
    /* Reservation-page */
    .reservations-page {
        overflow-y: scroll;
        overflow-x: hidden;
  
    }
    
    .reservation-page {
        display: flex;
        flex-direction: column;
        height: 150vh;
    }
    
    input:focus {
        outline: none;
        border: 2px solid green;
    
        box-shadow: 0 0 5px rgba(230, 126, 34, 0.5);
        transition: border 0.3s ease, box-shadow 0.3s ease;
    }
    
    select:focus {
        outline: none;
        border: 2px solid rgb(23, 176, 236);
    
        box-shadow: 0 0 5px rgba(230, 126, 34, 0.5);
        transition: border 0.3s ease, box-shadow 0.3s ease;
    }
    
    #logo-ankole img {
        margin-bottom:10%;
        width: 50vw;
   
        color: dimgrey;
    
    }
    
    .karibu-reservation {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/flower.jpg);
        background-repeat: no-repeat;
        
        background-size: cover;
        width: 100vw;
        height:60vh;
        text-align: center;
        color: white;
        position:relative;
        
    
    }
    .karibu-reservation h1:first-child{
        position: absolute;
        top:16%;
         left:38%;
        

    }
    .karibu-reservation h1:nth-child(2){
        position: absolute;
        top:33%;
         left:28%;
        

    }
    #page-title {
        color:  #D35400;
        font-size: 200%;
    }
    
    .reservation-form {
        background-color: black;
        color: white;
        width: 96vw;
        height: 150vh;
        padding: 2%;
        box-shadow: 2px 2px 2px gray;
    
    }
    
    input,
    select {
        background: none;
        color:white;
        padding: 4% 2%;
        width: 90%;
        margin: 1% 0;
        border: solid #f8f8f861 1px;
        color-scheme: dark;
    }
    
    select {
        width: 94%;
        color:dimgray;
    
    }
    
    button {
        margin-top: 2%;
        width: 95%;
        padding: 4%;
        border-radius: 10px;
        font-size: 100%;
        background-color: #F4CD9C;
    }
    
    .menus {
        display: flex;
    
    }
    /* kitisuru */
    .menu-layout {
        background: url(images/65c4760165c03d467b650bcb_1.jpg);
        width: 100vw;
        height: 100vh;
        filter: brightness(0.4);
    
    
    
    }
    
    .menus-filter {
        background-color: black;
        /* width:50vw;
        height:100vh; */
    }
    
    .top-nav {
        display: flex;
        justify-content: space-evenly;
        padding: 2%;
    
        a {
            text-decoration: none;
            color: black;
            font-size: 15px;
    
        }
    }
    
    #breakfast {
        color: black;
    
    }
    
    .breakfast-menu h1 {
        color: black;
    }
    
    .layout-details {
        position: absolute;
        top: 50%;
        left: 30%;
    
        .logo {
            position: fixed;
            top: 5%;
            left: 25%;
            z-index: 2;
        }
    
        img {
            margin-bottom: 5%;
        }
    
        h2 {
            color: white;
            text-align: center;
            font-size: 150%;
    
        }
    
        h1 {
            color:  #D35400;
            font-size: 250%;
        }
    }
    
    .hor-navbar {
        bottom: 7%;
        left: 15%;
        background-color: black;
        border-radius: 100px;
        color: white;
    
    }
    
    .top-nav {
        height: 100vh;
        width: 50vw;
    
    }
    /* kilimani-menu */
.menu-options {
    display: flex;
    flex-direction: column;

}

.branch-menu {
    width: 100vw;
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/65c4760165c03d467b650bcb_1.jpg);
    text-align: center;

}

.navigation-menu {
    display: flex;
    position: sticky;
    padding: 2%;
    background-color: black;
    justify-content: space-evenly;
    z-index: 1000;


    a {
        text-decoration: none;
        color: white;
        font-size: 100%;
    }

    a:hover {
        color:orange;

    }
}

#branch-name {
    color:  #D35400;
    font-size: 450%;
}

#title-menu {
    color: white;
    text-align: center;
    font-size: 100%;
}

.menu-list {
    background-color: black;
    width: 100vw;
    color: white;
    padding: 0 2%;
    overflow-y: scroll;
    p{
        font-size: 70%;
    }
    h2{
        font-size: 100%;
    }
}

.specials {
    color:  #D35400;
    display: flex;
    gap: 10px;
    font-size: 80%;

}

#breakfast {
    color: white;
}

.menu-line {
    display: flex;
  

}

.foodPrice {
    display: flex;
    padding: 3% 0;
  gap:5px;
}

.foodPrice img {
    width: 20vw;


}

.foods {
    margin: 10% 0;

}

.soup {
    display: flex;
gap:20px;
}

.salad {
    display: flex;
gap:1px;
    padding: 2% 0;

}

.logo-img img {
    width: 10vw;
    height: 15vh;
}

.drink-item p {

    display: flex;
   gap:5%;

}

}